text {
    font-family: Helvetica;
    color: var(--var-color-grey);
}
.axis path,
.axis line {
    fill: none;
    stroke: var(--var-color-grey);
    shape-rendering: crispEdges;
}
.x.axis {font-size: 15px;  }
.y.axis {font-size: 12px; }